
.App{
    text-align:center;
    padding:2%;
}

.Navbar{
  background-color: #46ACC2;
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: white;
  justify-content: center;

}
.Navbar__Items{
    display:flex;
    margin-left: 150px;
}

.Navbar__Link {
  padding-right: 2px;
  color:white;
  margin-right:120px;
}

.Navbar__Link:hover
  {
    color:white;
    text-decoration:none;
    cursor:pointer;
   }

@media only screen and (min-width:768px){
    .Navbar__Link-toggle{
        display: none;
    }
    .ActiveMode{
    font-weight: bold;
    border-bottom:1px solid white;
    }
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
   .Navbar__Items {
    display:none;
  }
  .Navbar__Items--right {
    margin-left: 0;
  }
  .Navbar__ToggleShow {
    display: flex;
  }
  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    cursor: pointer;

   }
}