
.App{
    text-align:center;
    padding:2%;
}
html, body{
    background-color: azure;
    margin: 0px auto;
    padding:0px;
    font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.container{
 display:flex;
  width:100%;
  padding: 20px;
}

button{
    border:solid 1px;
    border-radius: 4px;
}

.headerContainer{
    justify-content: space-around;
    background-color:rgba(0,0,0,.82);
    list-style-type: none;
}

.nav_Link > :first-child{
    text-decoration: none;
    color:white;
}

.nav_Link > :first-child:hover{
    color:darkgrey;
}

.activelink{
    border-bottom: 1px solid white;
    font-weight: bold;
}

.burger{
    color:white;
}

@media only screen and (min-width:768px){
    .burger{
        display:none;
    }
    .container {
    max-width: -webkit-fill-available;
}
    .searchInputStyle{
         width:250px;
        margin-right : 50px;
    }


}

@media only screen and (max-width:768px){
    .container{
        flex-direction: column;
    }
    .nav_Link{
        display:none;
    }

    .Navbar__ToggleShow{
        display: block;
    }
    .burger{
        align-self: flex-end;
    }
    .searchButtonStyle{
        margin-top:20px;
    }
}


/* Search Component style */
.searchLabelStyle{
            margin-Right : 5px;
            font-weight:bold;
            color:rgba(0,0,0,.82)
}


.searchInputStyle{

     border-radius: 5px;
     border:solid 1px grey;

}