.App{
    text-align:center;
    padding:2%;
}
html, body{
    background-color: #E7FDFF;
    margin: 0px auto;
    padding:0px;
    font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.container{
 display:flex;
  width:100%;
  padding: 20px;
}

button{
    border:solid 1px;
    border-radius: 4px;
}

.headerContainer{
    justify-content: space-around;
    background-color:rgba(0,0,0,.82);
    list-style-type: none;
}

.nav_Link > :first-child{
    text-decoration: none;
    color:white;
}

.nav_Link > :first-child:hover{
    color:darkgrey;
}

.activelink{
    border-bottom: 1px solid white;
    font-weight: bold;
}

.burger{
    color:white;
}

@media only screen and (min-width:768px){
    .burger{
        display:none;
    }

    .container {
    max-width: -webkit-fill-available;
}
    .searchInputStyle{
         width:250px;
        margin-right : 50px;
    }
}

@media only screen and (max-width:768px){
    .container{
        flex-direction: column;
    }
    .nav_Link{
        display:none;
    }

    .Navbar__ToggleShow{
        display: block;
    }
    .burger{
        align-self: flex-end;
    }
    .searchButtonStyle{
        margin-top:20px;
    }
}


/* Search Component style */
.searchLabelStyle{
            margin-Right : 5px;
            font-weight:bold;
            color:rgba(0,0,0,.82)
}


.searchInputStyle{

     border-radius: 5px;
     border:solid 1px grey;

}

/* Recpipe list style */

.Recipelist_Container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Recipelist_Recipe{
    position: relative;
    text-align: center;
    min-width: 0;
    margin: 5px;
}

.Recipelist_img{
    width: 350px;
    max-width: 100%;
    max-height: 250px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #a09d9d;
}

.Recipelist_img:hover{
    box-shadow: 5px 5px 10px #8eb1da5e;
}
.Recipe_name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(224, 222, 222);
    text-shadow: 1px 1px 2px #000000;
  }
